
{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <ul>
      {{> post-info post}}
     
    </ul>
    {{/each}}
  </ol>
</section>
{{/if}}

<section>
  <h2>Create New Post</h2>
<a href="/dashboard/new"><button>New Post</button></a>
</section>
